body {
  font-family: arial;
}

h1 {
  text-align: center;
}

h2 {
  color: #fff;
  margin: 0px;
}
p {
  color: #b2b2b2;
}

div {
  background: #111;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #febe01;
}

a {
  color: #332200;
  background-color: #febe01;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}
